<ng-container *ngIf="getNamedCollection(collectionName, serverData) as collection">
  <div class="container-fluid mt-5">
    <app-collection-form [data]="collection"
                         type="editing"
                         (sendEvent)="handleSend($event)"
                         (deleteClick)="handleDelete()"></app-collection-form>
  </div>
</ng-container>
<ng-template #modal let-content>
  <div class="modal-body text-center">
    <div class="modal-header d-flex justify-content-center">
      <p>{{modalMessage}}</p>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-primary"
              (click)="handleSuccess()">Ok</button>
    </div>
  </div>
</ng-template>
