<ng-container *ngIf="serverData">
  <div class="container-fluid mt-5">
    <div class="row gy-3">
      <div class="col-8 offset-2 col-lg-3 offset-lg-1 p-0 shadow-lg">
        <app-card [data]="{message: 'Coleções',
                number: serverData.collections.length}">
        </app-card>
      </div>
      <div class="col-8 offset-2 col-lg-3 offset-lg-1 p-0 shadow-lg">
        <app-card [data]="{message: 'Modelos',
                number: serverData.models.length}">
        </app-card>
      </div>
      <div class="col-8 offset-2 col-lg-3 offset-lg-1 p-0 shadow-lg">
        <app-card [data]="{message: 'Orçamento Médio (R$)',
                number: ServerData.getBudgetAverage(serverData.collections)}"
                  [complete] = true>
        </app-card>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-2 col-lg-11 offset-lg-1 p-3 mt-3 bg-white rounded-3 shadow-lg">
        <app-table [colsName]="['Coleção', 'Responsável', 'Modelos', 'Orçamento']"
                   [data] = "testObject"
                   mode="dashboard"
                   caption="Maiores Orçamentos"></app-table>
      </div>
    </div>
  </div>
</ng-container>
