/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

* {
  font-family: 'Inter', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body{
  height:100%;
}

body {
  background-color: #EBF0FA;
}

.icon-sm {
  height: 1.5rem;
  object-fit: cover;
}

.icon-md {
  height: 2rem;
  object-fit: cover;
}

.icon-xl {
  height: 10rem;
  object-fit: cover;
}

.content-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.header-container {
  position: sticky;
  top: 0;
  display: flex;
}

.menu-container {
  width: calc(100vw * (2/12));
}

@media (min-width: 992px) {
  .menu-container {
    display: flex;
  }
}

.login-container {
  background-color: #EBF0FA;
}

.form-control.ng-invalid.ng-touched {
  @extend .is-invalid !optional;
}

.form-control.ng-invalid.ng-touched + output,
.password-feedback {
  @extend .invalid-feedback !optional;
  display: block !important;
}
