<nav class="d-flex flex-column vh-100 border-end shadow-lg bg-white">
  <ul class="nav nav-pills d-flex gap-2 flex-column p-0 p-lg-3">
    <li>
      <img class="img-fluid" src="assets/audaces-logo-expanded.svg" alt="logo">
    </li>
    <li class="nav-item d-flex mt-5">
      <a class="nav-link active" routerLink="/home">Dashboard</a>
    </li>
    <li class="nav-item d-flex">
      <a class="nav-link" routerLink="/collection-listing">Coleção</a>
    </li>
    <li class="nav-item d-flex">
      <a class="nav-link" routerLink="/models-listing">Modelos</a>
    </li>
    <li class="nav-item d-flex">
      <a class="nav-link">Obter Ajuda</a>
    </li>
    <li class="nav-item d-flex">
      <a class="nav-link">Comentários</a>
    </li>
  </ul>
</nav>
