<nav class="d-flex flex-column vh-100 border-end shadow-lg bg-white p-5 p-lg-0">
  <ul class="nav nav-pills d-flex gap-2 flex-column p-0 p-lg-3">
    <li>
      <img class="img-fluid" src="assets/audaces-logo-expanded.svg" alt="logo">
    </li>
    <li>
      <h1 class="fs-6 text-muted mt-5">MENU</h1>
    </li>
    <li class="nav-item d-flex">
      <a class="nav-link" routerLink="/home"
         [ngClass]="{'active': isGroupActive('dashboard')}">Dashboard</a>
    </li>
    <li class="nav-item d-flex">
      <a class="nav-link" routerLink="/collection-listing"
         [ngClass]="{'active': isGroupActive('collection')}">Coleção</a>
    </li>
    <li class="nav-item d-flex">
      <a class="nav-link" routerLink="/models-listing"
         [ngClass]="{'active': isGroupActive('model')}">Modelos</a>
    </li>
    <li class="nav-item d-flex">
      <a class="nav-link">Obter Ajuda</a>
    </li>
    <li class="nav-item d-flex">
      <a class="nav-link">Comentários</a>
    </li>
    <li class="nav-item d-lg-none">
      <button class="btn btn-link"
              (click)="logoutHandler()">
        Logout
      </button>
    </li>
  </ul>
</nav>
